<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All users</title>
</head>
<body>
<table>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>LastName</th>
        <th>Age</th>
    </tr>
    <tr th:each="user : ${getUsers}">
        <td>
            <a th:href="@{/{id}(id=${user.getId()})}">
                <button>[[${user.getId()}]]</button>
            </a>
        </td>
        <td th:text="${user.getName()}"></td>
        <td th:text="${user.getLastName()}"></td>
        <td th:text="${user.getAge()}"></td>
        <td>
            <a th:href="@{/{id}/edit(id=${user.getId()})}">
                <button>Edit user</button>
            </a>
        </td>
        <td>
            <form th:method="DELETE" th:action="@{/{id}(id=${user.getId()})}">
                <input type="submit" value="Delete"/>
            </form>
        </td>
    </tr>
</table>
<br>
<a href="/new">
    <button>Create new user</button>
</a>
</body>
</html>